label{
    display: block;
    margin-top: 10px;
}
body{
    background-color: aquamarine;
}
section h3{
    text-align: left;
    text-decoration: underline;
    
}
table{
 border-collapse: collapse ;
 background-image:gaja.jpg;
}
td,th{
    border: solid black;
    padding: 5px 10px;
}